" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" Source your .vimrc
source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

" Ensure IdeaVim works in tool windows and dialogs
set nerdtree

let mapleader = " "

" Search Files (The 'Go to File' specific action)
nnoremap <leader>ff :action GotoFile<CR>

" Grep global
nnoremap <leader>/ :action FindInPath<CR>

" Toggle between the current and last opened file
" This mimics the standard Vim 'Ctrl-^' behavior
nnoremap <leader><leader> <C-^>

" [leader] + [,] to show open/recent files
nnoremap <leader>, :action RecentFiles<CR>

" Go to implementation
nnoremap gI :action GotoImplementation<CR>

nnoremap gy :action GotoSuperMethod<CR>

nnoremap <leader>rn :action RenameElement<CR>

nnoremap <leader>fm :action ReformatCode<CR>

nnoremap <leader>oi :action OptimizeImports<CR>

nnoremap <leader>bd :q<CR>

" Shift + Enter to add line below
nnoremap <S-Enter> :action EditorStartNewLine<CR>
